[Unit]
Description=pcocc guest agent
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/var/pcocc-agent.pid
ExecStart=/usr/sbin/pcocc-agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
